@charset "utf-8";
/* CSS Document */
.carousel-inner > .item > img {
  min-width: 80%;
  height: 650px;
	margin-left:150px;
}
.case {
  text-align: center;
  margin-top: 20px;
}
.case img {
  height: 200px;
}

.screenshot .item {
  border-top: 1px solid #CCC;
  padding-bottom: 30px;
  padding-top: 20px;
}
.screenshot img{
	height:400px;
}
.navbar {
  background-color: #000;
}
.navbar-nav li a, .navbar-nav li a:focus, .navbar-nav li a:visited {
  color: #FFF;
}
.bottom{
	margin-left: -190px;
	height: 50px;
	width: 1520px;
	background-color: black;
	text-align: center;
	color: aliceblue;
}
.i{
    position: relative;
    top: -21px;
    width: 1518px;
    height: 630px;
    background-image: url("docs/img/pexels-fauxels-3183198.jpg");
    background-size: 100% 100%;
    font-size: 100px;
    text-align: center;
}
#h{
    animation: first 6s infinite;
}
#a{
    animation: second 6s infinite;
}
.x{
    animation: third 6s infinite;
}
.xmfc{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd471;
    position: relative;
    top: -22px;
    padding-top: 20px;
}
.xmcy{
    width: 1519px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd471;
    position: relative;
    top: -22px;
    left:-190px;
    padding-top: 20px;
}
.xmzz{
    width: 1519px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd471;
    position: relative;
    padding-top: 20px;

}
.wz{
    font-size: 30px;
    text-align: center;
}