@charset "utf-8";
/* CSS Document */
.carousel-inner > .item > img {
  min-width: 80%;
  height: 650px;
	margin-left:150px;
}
.case {
  text-align: center;
  margin-top: 20px;
}
.case img {
  height: 200px;
}

.screenshot .item {
  border-top: 1px solid #CCC;
  padding-bottom: 30px;
  padding-top: 20px;
}
.screenshot img{
	height:400px;
}
.navbar {
  background-color: #000;
}
.navbar-nav li a, .navbar-nav li a:focus, .navbar-nav li a:visited {
  color: #FFF;
}
.bottom{
	margin-left: -190px;
	height: 50px;
	width: 1520px;
	background-color: black;
	text-align: center;
	color: aliceblue;
}